[kubernetes-{{ kube.minorVersion }}]
name=Kubernetes-{{ kube.minorVersion }}
baseurl=https://pkgs.k8s.io/core:/stable:/v{{ kube.minorVersion }}/rpm/
enabled=1
gpgcheck=1
gpgkey=https://pkgs.k8s.io/core:/stable:/v{{ kube.minorVersion }}/rpm/repodata/repomd.xml.key
exclude=kubelet kubeadm kubectl cri-tools kubernetes-cni
